@model InputDataModel
@{
    List<SelectListItem> outlookItems = new List<SelectListItem>()
    {
        new SelectListItem { Text = "Ηλιοφάνεια", Value = "sunny" },
        new SelectListItem { Text = "Νεφελώδης", Value = "overcast" },
        new SelectListItem { Text = "Βροχόπτωση", Value = "rainy" },
    };

    List<SelectListItem> temperatureItems = new List<SelectListItem>()
    {
        new SelectListItem { Text = "Υψηλή", Value = "hot" },
        new SelectListItem { Text = "Φυσιολογική", Value = "mild" },
        new SelectListItem { Text = "Χαμηλή", Value = "cool" }
    };

    List<SelectListItem> humidityItems = new List<SelectListItem>()
    {
        new SelectListItem { Text = "Υψηλή", Value = "high" },
        new SelectListItem { Text = "Φυσιολογική", Value = "normal" }
    };

    List<SelectListItem> windyItems = new List<SelectListItem>()
    {
        new SelectListItem { Text = "Ναι", Value = "yes" },
        new SelectListItem { Text = "Όχι", Value = "no" }
    };
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://dotnet.microsoft.com/en-us/apps/ai/ml-dotnet">building with ML.NET</a>.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <form id="playGolfForm" role="form" method="post" action="@Url.Action("Predict", "PlayGolf")">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Outlook"></label>
                    @Html.DropDownListFor(model => model.Outlook, outlookItems, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Temperature"></label>
                    @Html.DropDownListFor(model => model.Temperature, temperatureItems, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Humidity"></label>
                    @Html.DropDownListFor(model => model.Humidity, humidityItems, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Windy"></label>
                    @Html.DropDownListFor(model => model.Windy, windyItems, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-3">
                    <button id="btnPredict" type="submit" class="btn btn-danger btn-lg btn-block">ΝΑ ΠΑΙΞΩ ΓΚΟΛΦ;</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-3">                    
                    <span type="text" id="prediction" class="form-control mb-1"></span>
                    <span type="text" id="probability" class="form-control"></span>                    
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
<script>
    $('#playGolfForm').on('submit', function (event) {
        event.preventDefault();        
        $("#prediction").html("Predicting ...");

        let url = $(this).attr('action');
        let formData = $(this).serialize();

        // post to the server passing the serialized form data. The response
        // json whether a success or a failure is handled in the success callback.
        // The error callback handles only the case where the post couldn't be send
        // successfully.
        $.ajax({
            url: url,
            type: "POST",
            data: formData,
            success: function (response) {                
                var probability = Math.round(response.probability * 100).toFixed(0);
                $("#prediction").html(response.predictedPlay ? "ΝΑΙ" : "ΟΧΙ");
                $("#probability").html("Πιθανότητα " + probability + "%");
            },
            error: function (response) {
                alert("ERROR");
            }
        });
    });
</script>
}